page-cart {

    .nolinebreak{
        float: left;
        padding-right: 10px;
    }
    .btn_continuar{
        background-color:#836db5;
        margin-top: 10px;
    }
    .btn_finalizar{
        background-color: #868092;
        margin-top: 15px;
    }
}
