page-home {

    h3{
        text-align: center;
    }

    img{
        width: 200px;
        align-self: center;
        margin: auto;
        display: block;
        padding: 0px;
    }

    .btn_home{
        margin-top: 20px;  
        border-color: #836db5;
    }
    .background-btn{
        background-color: #836db5;
    }

    .color span{
        color: #836db5;
    }

}
