// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toolbar-background-md{
    background-color: #836db5 !important;
}
.toolbar-title-md{
    color: #ffffff !important;
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
    color: #ffffff !important;
}
ion-fab[top][edge] {
    top: -1px;
}
.fab[mini]{
    background-color: #836db5;
}
.icon-md-danger {
    color: #7047ce;
}
.icon-md-primary {
    color: #836db5;
}

ion-header {
    ion-toolbar {
        ion-title {
            background-image: url('./assets/icon/icone.png');
            background-repeat: no-repeat;
            background-position: 5px 3px;
            padding-left: 27px;
        }
    }
}